
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Events - Entertainment Category Responsive Website Template - 404 </title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <!-- 404 error page -->
    <div class="w3l-error-grid py-5 text-center position-relative">
        <!-- fireworks effect -->
        <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div>
        <div class="container py-lg-5 py-md-4">
            <div class="error-block">
                <h1>4<img src="assets/images/error.png" alt="" class="img-fluid">4</h1>
                <h2 class="mt-5">Oops, Page not found!</h2>
                <p class="mt-sm-4 mt-3">Sorry, we're offline right now to make our site even better. Please, comeback
                    later and
                    check what we've
                    been upto.</p>
                <form class="form-inline search-form mt-md-5 mt-4" action="#" method="post">
                    <input class="form-control" type="search" placeholder="Search here" aria-label="email" required="">
                    <button class="btn btn-style search" type="submit">Search</button>
                </form>
                <a href="index.mustache" class="tn back-button mt-md-5 mt-4"> <span class="fa fa-arrow-left mr-2"></span>
                    Back to Home</a>
            </div>
        </div>
    </div>
    <!-- //404 error page -->
</body>

</html>