
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Events - Entertainment Category Responsive Website Template - Events</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand d-flex align-items-center" href="index.mustache">
                        Happy Events</a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.mustache">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.mustache">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.mustache">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="events.mustache">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="services.mustache">Services</a>
                                <a class="dropdown-item" href="single.mustache">Single Page</a>
                                <a class="dropdown-item" href="error.mustache">404 Page</a>
                                <a class="dropdown-item" href="landing-single.mustache">Landing Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.mustache">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-lg-3">
                            <form action="error.mustache" method="GET" class="search-box position-relative">
                                <div class="input-search">
                                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                        autofocus="" class="search-popup">
                                </div>
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Events</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.mustache">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Events</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->

    <!-- events section -->
    <section class="w3l-text-6">
        <div class="text-6-mian bottom-space py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy text-center mb-sm-5 mb-4 pb-lg-4">
                    <span style="--i:1">O</span>
                    <span style="--i:2">u</span>
                    <span style="--i:3">r</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">E</span>
                    <span style="--i:6">v</span>
                    <span style="--i:7">e</span>
                    <span style="--i:8">n</span>
                    <span style="--i:1">t</span>
                    <span style="--i:2">s</span>
                </div>
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="row top-cont-grid align-items-center">
                    <div class="col-lg-5 right-img sec-img-ab">
                        <img src="assets/images/event1.jpg" alt="" class="img-responsive img-fluid" />
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-6 left-cont mb-lg-0 mb-5">
                        <h4>Title of the Happy Events</h4>
                        <div class="d-flex align-items-center mt-3">
                            <h6><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> 7:00 pm - 8:00 pm</h6>
                            <h6 class="ml-3"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Dec 31</h6>
                        </div>
                        <p class="mt-3">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus vitae
                            fringilla
                            sapien.</p>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla
                            sapien,
                            quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.</p>
                        <a href="single.mustache" class="btn btn-style mt-4">View Event Details</a>
                    </div>
                </div>
                <div class="row top-cont-grid top-space align-items-center">
                    <div class="col-lg-6 left-cont mb-lg-0 mb-5">
                        <h4>Title of the Happy Events</h4>
                        <div class="d-flex align-items-center mt-3">
                            <h6><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> 3:00 pm - 6:00 pm</h6>
                            <h6 class="ml-3"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Jan 01</h6>
                        </div>
                        <p class="mt-3">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus vitae
                            fringilla
                            sapien.</p>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla
                            sapien,
                            quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.</p>
                        <a href="single.mustache" class="btn btn-style mt-4">View Event Details</a>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-5 right-img">
                        <img src="assets/images/blog2.jpg" alt="" class="img-responsive img-fluid" />
                    </div>
                </div>
                <div class="row top-cont-grid top-space align-items-center">
                    <div class="col-lg-5 right-img sec-img-ab">
                        <img src="assets/images/event2.jpg" alt="" class="img-responsive img-fluid" />
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-6 left-cont mb-lg-0 mb-5">
                        <h4>Title of the Happy Events</h4>
                        <div class="d-flex align-items-center mt-3">
                            <h6><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> 7:00 pm - 8:00 pm</h6>
                            <h6 class="ml-3"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Dec 31</h6>
                        </div>
                        <p class="mt-3">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus vitae
                            fringilla
                            sapien.</p>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla
                            sapien,
                            quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.</p>
                        <a href="single.mustache" class="btn btn-style mt-4">View Event Details</a>
                    </div>
                </div>
                <div class="row top-cont-grid top-space align-items-center">
                    <div class="col-lg-6 left-cont mb-lg-0 mb-5">
                        <h4>Title of the Happy Events</h4>
                        <div class="d-flex align-items-center mt-3">
                            <h6><i class="fa fa-clock-o mr-1" aria-hidden="true"></i> 7:00 pm - 8:00 pm</h6>
                            <h6 class="ml-3"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Jan 01</h6>
                        </div>
                        <p class="mt-3">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus vitae
                            fringilla
                            sapien.</p>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla
                            sapien,
                            quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.</p>
                        <a href="single.mustache" class="btn btn-style mt-4">View Event Details</a>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-5 right-img">
                        <img src="assets/images/event3.jpg" alt="" class="img-responsive img-fluid" />
                    </div>
                </div>
                <!-- pagination -->
                <div class="pagination-style text-center mt-5 pt-5">
                    <ul>
                        <li> <a href="#none" class="not-allowed" disabled="">
                                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li><a class="active" href="#page">1</a></li>
                        <li>
                            <a href="#page">2</a>
                        </li>
                        <li>
                            <a href="#page">3</a>
                        </li>
                        <li>
                            <a href="#page"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //pagination -->
            </div>
        </div>
    </section>
    <!-- image with text section -->

    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-6 col-12 footer-list-29">
                        <h2>
                            <a class="footer-logo" href="index.mustache">
                                Happy Events</a>
                        </h2>
                        <p class="sub-list-text mt-4 pt-lg-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                            Suspendisse a pellentesque
                            dui, non
                            felis. Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">SUPPORT</h6>
                        <ul>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms"> Terms of Service</a></li>
                            <li><a href="contact.mustache">Contact us</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-contact-list mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <ul>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-map-marker mr-2"
                                    aria-hidden="true"></i>10001, 5th Avenue, USA</li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-phone mr-2"
                                    aria-hidden="true"></i><a href="tel:+12 23456790">+12
                                    23456790</a></li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-envelope mr-2"
                                    aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2021 Happy Events. All rights reserved.</p>
                <div class="col-lg-4 text-right">
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //copyright -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>