
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Events - Entertainment Category Responsive Website Template - About </title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand d-flex align-items-center" href="index.mustache">
                        Happy Events</a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.mustache">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.mustache">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.mustache">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="events.mustache">Events</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="services.mustache">Services</a>
                                <a class="dropdown-item active" href="single.mustache">Single Page</a>
                                <a class="dropdown-item" href="error.mustache">404 Page</a>
                                <a class="dropdown-item" href="landing-single.mustache">Landing Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.mustache">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-lg-3">
                            <form action="error.mustache" method="GET" class="search-box position-relative">
                                <div class="input-search">
                                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                        autofocus="" class="search-popup">
                                </div>
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Event Details</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.mustache">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Blog Single</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->

    <!-- single page -->
    <section class="w3l-blog-single">
        <div class="single blog py-5">
            <div class="container py-md-5 py-4">
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <!-- left side blog post content -->
                <div class="single-left">
                    <div class="single-left1">
                        <h3 class="title-big mb-3 text-center">Celebration is an active state, an act of expressing
                            reverence or appreciation.
                        </h3>
                        <ul class="admin-post text-center">
                            <li>
                                <p><span class="fa fa-clock-o"></span>January 01 2021.</p>
                            </li>
                            <li>
                                <a href="single.mustache"><span class="fa fa-calendar"></span>7:00 pm - 8:00 pm</a>
                            </li>
                            <li>
                                <a href="single.mustache"><span class="fa fa-comments-o"></span>Comments (3)</a>
                            </li>
                        </ul>
                        <div class="blg-img">
                            <img src="assets/images/single.jpg" alt=" " class="img-fluid img-fluid">
                        </div>
                        <div class="btom-cont1 pt-4 mt-md-2">
                            <h5 class="card-title ">The Best Event Planners & Event Celebrations.</h5>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloribus
                                delectus ab sunt quasi eaque deleniti, quae ipsum suscipit sapiente neque nobis eum
                                porro eligendi voluptatibus voluptatem ex natus nisi? Et aspernatur ab voluptatum
                                repellendus molestiae beatae, illum placeat, temporibus laboriosam sit rerum? Ullam
                                optio eveniet impedit cupiditate ipsa pariatur!</p>
                            <p class="">The Celebrate of events Lorem Ipsum is that it has a more-or-less normal
                                distribution
                                of letters, as opposed to using for that lorem ipsum. </p>

                            <blockquote class="blockquote my-5">
                                Cheers to a new year and another chance for us to get it right.<br>
                                Cheers to successes. Cheers to failures. And cheers to those who helped you make
                                your year what it was.
                                <footer class="blockquote-footer mt-3">
                                    Oprah Winfrey</footer>
                            </blockquote>
                            <h5 class="card-title mt-lg-5 mt-4 ">
                                <a href="single.mustache">People of our time are losing the power of celebration.
                                    Instead of celebrating we seek to be amused or entertained.</a>
                            </h5>
                            <p class="mb-4 pt-2"> The Best Event Planners & Event Celebrations. Lorem Ipsum is that
                                it has a more-or-less normal
                                distribution
                                of letters, as opposed to using events. </p>

                            <div class="sing-post-thumb row">
                                <div class="col-sm-6">
                                    <a href="#url"><img src="assets/images/event1.jpg" class="img-fluid" alt=""></a>
                                </div>
                                <div class="col-sm-6 mt-sm-0 mt-3">
                                    <a href="#url"><img src="assets/images/event3.jpg" class="img-fluid" alt=""></a>
                                </div>
                            </div>
                            <h5 class="card-title mt-lg-5 mt-4 ">
                                <a href="single.mustache">Celebrate every moment... Love yourself and the world
                                    will love you</a>
                            </h5>
                            <p class="mb-4 pt-2">The Celebrate of events Lorem Ipsum is that it has a more-or-less
                                normal
                                distribution
                                of letters, as opposed to using for that lorem ipsum. </p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, doloribus
                                delectus ab sunt quasi eaque deleniti, quae ipsum suscipit sapiente neque nobis eum
                                porro eligendi voluptatibus voluptatem ex natus nisi? Et aspernatur ab voluptatum
                            </p>

                            <ul class="share-post my-md-5 my-4">
                                <li>
                                    <h4 class="side-title mr-sm-4 mr-2">Share this post :</h4>
                                </li>
                                <li>
                                    <a href="#link" class="facebook" title="Facebook">
                                        <span class="fa fa-facebook" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#link" class="twitter" title="Twitter">
                                        <span class="fa fa-twitter" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#link" class="instagram" title="Instagram">
                                        <span class="fa fa-instagram" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nav class="post-navigation row">
                        <div class="post-prev col-6">
                            <a href="#url" rel="prev">
                                <h5><span class="fa fa-arrow-left"></span> Prev Post </h5>
                            </a>
                        </div>
                        <div class="post-next col-6 text-right">

                            <a href="#url" rel="next">
                                <h5> Next Post <span class="fa fa-arrow-right"></span></h5>
                            </a>
                        </div>
                    </nav>
                    <div class="comments">
                        <h3 class="post-content-title">Comments</h3>
                        <div class="media mt-4 bod-1">
                            <div class="img-circle">
                                <img src="assets/images/team1.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">
                                <div class="medi-top mb-2">
                                    <a href="#URL" class="name mt-0">Johnson smith</a>
                                    <span>06 Jan, 2021 </span>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus tempus viverra turpis. Fusce nunc ac in vulputate
                                    odio, in vulputate at, nunc ac.</p>
                                <a href="#reply" class="rep mt-3">Reply</a>
                                <div class="media mt-4 bod-2 mb-0 pb-0 px-0">
                                    <a class="img-circle img-circle-sm" href="#">
                                        <img src="assets/images/team2.jpg" class="img-fluid" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <div class="medi-top mb-2">
                                            <a href="#URL" class="name mt-0">Alexander</a>
                                            <span>13 Jan, 2021 </span>
                                        </div>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante
                                            sollicitudin. Cras purus odio, vestibulum at.</p>
                                        <a href="#reply" class="rep mt-3">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="media bod-3">
                            <div class="img-circle">
                                <img src="assets/images/team3.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">
                                <div class="medi-top mb-2">
                                    <a href="#URL" class="name mt-0">Elizabeth</a>
                                    <span>14 Jan, 2021 </span>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus
                                    odio, in vulputate at, viverra turpis, ac.</p>
                                <a href="#reply" class="rep mt-3">Reply</a>
                            </div>
                        </div>
                    </div>

                    <div class="testi-top mt-5 pt-4">

                        <h3 class="post-content-title">Leave a message</h3>
                        <div class="form-commets mt-4">
                            <form action="#" method="post">
                                <div class="media-form">
                                    <input type="text" name="Name" required="Name" placeholder="Your Name">
                                    <input type="email" name="Email" required="Email" placeholder="Your Email">
                                </div>
                                <textarea name="Message" required="" placeholder="Write your comments here"></textarea>
                                <div class="text-right">
                                    <button class="btn btn-primary btn-style" type="submit">Post comment</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- left side blog post content -->
            </div>
        </div>
    </section>
    <!-- //single page -->

    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-6 col-12 footer-list-29">
                        <h2>
                            <a class="footer-logo" href="index.mustache">
                                Happy Events</a>
                        </h2>
                        <p class="sub-list-text mt-4 pt-lg-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                            Suspendisse a pellentesque
                            dui, non
                            felis. Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">SUPPORT</h6>
                        <ul>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms"> Terms of Service</a></li>
                            <li><a href="contact.mustache">Contact us</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-contact-list mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <ul>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-map-marker mr-2"
                                    aria-hidden="true"></i>10001, 5th Avenue, USA</li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-phone mr-2"
                                    aria-hidden="true"></i><a href="tel:+12 23456790">+12
                                    23456790</a></li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-envelope mr-2"
                                    aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2021 Happy Events. All rights reserved.</p>
                <div class="col-lg-4 text-right">
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //copyright -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>