

.pop-prod-select {
	display:none;
	font-size: 15px;
}

.pop-prod-select div, .pop-prod-select ul, .pop-prod-select h3 {
	margin: 0;
	padding: 0;
}

.pop-prod-select ul { 
	list-style: none;
	width: 90%;
	text-align: left;
}
.pop-prod-select ul li {
	
}

.pop-prod-select .top {
	width:100%; 
	height:50px; 
	text-align:center; 
	line-height:50px; 
	/*border:1px solid blue;*/
}
.pop-prod-select .wrap-center {
	font-size: 12px;
	width: 100%; 
	height: 380px; 
	/*border:1px solid red; */
	overflow:hidden; 
}
.pop-prod-select .bottom {
	font-size: 12px;
	width:100%; 
	height:100px; 
	text-align:left; 
	/*border:1px solid blue;*/
}
.pop-prod-select .bottom .bottom-wrap {
	width: 90%;
	margin: 0 auto;
}
.pop-prod-select .bottom .bottom-wrap p {
	height: 20px;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	font-size: 13px;
}
.pop-prod-select .bottom .bottom-wrap div {
	height: 32px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.pop-prod-select .bottom .bottom-wrap button {
	display: block;
	width: 150px;
	height: 30px;
	background: #000040;
	color: #fff;
	margin: 0 auto;
}

.pop-prod-select .top a {
	text-decoration: none; 
	vertical-align: middle; 
}
.pop-prod-select .top a.on {
	font-weight: bold;
	text-decoration: underline; 
}

.pop-prod-select .wrap-center .prod-search {
	display: none;
    text-align: center;
}

.pop-prod-select .wrap-center .prod-search .search,
.pop-prod-select .wrap-center .prod-search .list {
	width: 90%;
	margin: 0 auto;
}
.pop-prod-select .wrap-center .prod-search .search {
	height: 40px;
	/*border: 1px solid purple;*/
	line-height: 40px;
}
.pop-prod-select .wrap-center .prod-search .list {
	/*border: 1px solid green;*/
	height: 330px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pop-prod-select .wrap-center .prod-search .list ul {
	margin: 5px 60px;
}
.pop-prod-select .wrap-center .prod-search .list ul li.center {
	text-align: center;
}
.pop-prod-select .wrap-center .prod-search .list ul li.lh40 {
	line-height: 40px;
	font-size: 15px;
}
.pop-prod-select .wrap-center .prod-search .list ul li span.red {
	color: red;
}

.pop-prod-select .wrap-center .prod-search .search input {
	width: 80%;
	vertical-align: center;
	height: 20px;
}
.pop-prod-select .wrap-center .prod-search button {
	line-height:20px;
}

.pop-prod-select .list ul li { 
	width: none;
}

.pop-prod-select .wrap-center .prod-select {
	display:none;
}
.pop-prod-select .wrap-center .prod-select .left {
	width: 120px;
	height: 380px;
	float: left;
	/*border: 1px solid green;*/
	background: #eee;
}
.pop-prod-select .wrap-center .prod-select .left ul {
	margin: 15px 15px;
}
.pop-prod-select .wrap-center .prod-select .left ul li {
	line-height: 25px;
}
.pop-prod-select .wrap-center .prod-select .left ul li a {
	font-size: 13px;
	text-decoration: none;
}
.pop-prod-select .wrap-center .prod-select .left ul li a.on {
	font-weight: bold;
}
.pop-prod-select .wrap-center .prod-select .center {
	width: 840px;
	height: 380px;
	float: left;
	/*border: 1px solid skyblue;*/
	overflow-x: hidden;
	overflow-y: auto;
}
.pop-prod-select .wrap-center .prod-select .center .list-row-product {
	display:none;
}
.pop-prod-select .wrap-center .prod-select .center .list-row-solution {
	display:none;
}

.pop-prod-select .wrap-center .prod-select .center .list-row-product .list-row {
	min-height: 189px;
	clear: both;
}
.pop-prod-select .wrap-center .prod-select .center .list-prod {
	float: left;
	width: 240px;
	margin: 10px;
}
.pop-prod-select .wrap-center .prod-select .center .list-row-solution > ul {
	margin: 20px;
}
.pop-prod-select .wrap-center .prod-select .center .list-row-solution > ul li {
	line-height: 25px;
	font-size: 13px;
}
.pop-prod-select .wrap-center .prod-select .center .list-prod h3 {
	margin: 0 20px 5px;
}

