
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KT Enterprise</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="css/style-liberty.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        Happy Events</a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.mustache">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/category">category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="events.mustache">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"u role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="services.mustache">Services</a>
                                <a class="dropdown-item" href="single.mustache">Single Page</a>
                                <a class="dropdown-item" href="error.mustache">404 Page</a>
                                <a class="dropdown-item" href="landing-single.mustache">Landing Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.mustache">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-lg-3">
                            <form action="error.mustache" method="GET" class="search-box position-relative">
                                <div class="input-search">
                                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                        autofocus="" class="search-popup">
                                </div>
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- inner banner -->
    <div class="category-inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">요식업</h4>
                <ul class="breadcrumbs-custom-path">
                  <li>요식업의 이슈를 해결하기 위한 통합 디지털 솔루션</li>
                    {{! <li><a href="index.mustache">Home</a></li> }}
                    {{! <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Category</li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>요식업</li> }}
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->

    <!-- about section -->
    {{! <section class="w3l-features-photo-7 py-5">
        <div class="container py-md-5 py-4">
            <div class="row w3l-features-photo-7_top align-items-center">
                <div class="col-lg-6 w3l-features-photo-7_top-left pl-lg-4">
                    <div class="waviy">
                        <span style="--i:1">요</span>
                        <span style="--i:2">식</span>
                        <span style="--i:3">업</span>
                        {{! <span style="--i:4">t</span>
                        <span style="--i:5"></span>
                        <span style="--i:6">U</span>
                        <span style="--i:7">s</span> }}
                    {{! </div>
                    <p>Aermentum dolor molestie vel id neque. Donec sed tempus enim, a congue
                        risus. Pellen orci urna. In et augue ornare,
                        tempor massa in, roin a diam et dui tesqu.
                    </p>
                    <div class="row feat_top mt-4 pt-lg-3">
                        <div class="col-6 w3l-features-photo-7-box">
                            <img src="images/a1.png" alt="" class="img-fluid">
                            <h5 class="w3l-feature-text mb-2 mt-3">Our Mission</h5>
                            <p>In a diam et dui, orci urna. Donec sed tempus enims.</p>
                        </div>
                        <div class="col-6 w3l-features-photo-7-box">
                            <img src="images/s1.png" alt="" class="img-fluid">
                            <h5 class="w3l-feature-text mb-2 mt-3">Our Vision</h5>
                            <p>Et dui elit, orci urnavel id neque. Donec in a diam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 w3l-features-photo-7_top-right mt-lg-0 mt-sm-5 mt-4">
                    <img src="images/blog1.jpg" class="img-responsive" alt="" />
                </div>
            </div>
            <!-- fireworks effect -->
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
        </div>
    </section> }} 
     <!-- //about section -->
     <!-- blog section -->
    <div class="blog-section py-5">
        <div class="container py-md-5 py-4">
            <div class="waviy text-center mb-md-5 mb-4">
                <span style="--i:1">S</span>
                <span style="--i:2">e</span>
                <span style="--i:3">r</span>
                <span style="--i:4">v</span>
                <span style="--i:5">i</span>
                <span style="--i:6">c</span>
                <span style="--i:7">e</span>
                <span style="--i:8">s</span>
            </div>

            <div class="row">
            <div style="margin: 0 auto 30px;">
                 <span class="label-blue" style="margin: 3px;">전체</span>
                 <span class="label-blue" style="margin: 3px;">AI/BigData</span>
                 <span class="label-blue" style="margin: 3px;">인터넷/전용회선</span>
                 <span class="label-blue" style="margin: 3px;">모바일</span>
                 <span class="label-blue" style="margin: 3px;">통신</span>
                 <span class="label-blue" style="margin: 3px;">보안/안전 솔루션</span>
                 <span class="label-blue" style="margin: 3px;">비즈 솔루션</span>
                 <span class="label-blue" style="margin: 3px;">미디어/광고</span>
            </div>
                <div class="col-lg-4 col-md-6 item">
                
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="https://enterprise.kt.com/resource/images/sl/img_sl_fc_related_product_item_4.jpg"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            
                            <a href="single.html" class="blog-desc">생활인구솔루션 (ALP)</a>
                            <br>
                            <div class="align-items-center mt-3 mb-1">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">세계 최초로 LTE 시그널 데이터를 이용한
                                          고해상도의 인구 데이터 제공 솔루션. KT가 보유한
                                          통신 빅데이터를 활용하여 ‘특정 시점‘,’특정 지역’ 에
                                          ‘존재’하는 모든 인구의 이동과 분포를 추정한
                                          신개념 인구정보를 제공 </span> 
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-5 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="https://enterprise.kt.com/resource/images/sl/img_sl_fc_related_product_item_5.jpg"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                             <a href="single.html" class="blog-desc">상권분석솔루션(GrIP)</a>
                             <br>
                            <div class="align-items-center mt-3 mb-1">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">전국의 모든 상업용 건물 및 사업체 정보를 기반으로
                                        매장 매출 분석 및 출점 후보지 분석을 지원하는 상권분석 솔루션</span> 
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="single.html">
                                <img class="card-img-bottom d-block radius-image-full" src="https://enterprise.kt.com/resource/images/sl/img_sl_fc_related_product_item_6.jpg"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">
                            <a href="single.html" class="blog-desc">잘나가게</a>
                            <br>
                            <div class="align-items-center mt-3 mb-1">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value">빅데이터를 활용해 유용한 상권 정보와 이에 따른
                                        영업 TIP을 보내주는 예비창업자/소상공인 대상 문자 알림 서비스</span> 
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //blog section -->

      <!-- bg with text section -->
    <section class="w3l-covers-14 position-relative">
        <div class="covers14-block py-5">
            <div class="container py-md-5 py-4">
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="covers14-text text-center mx-auto py-lg-5" style="max-width:950px">
                    <h4>비즈니스 솔루션 문의 및 상품 문의에 이르기까지 KT가 도와드립니다.</h4>
                    <p class="mt-3 sub-title">(기업 상담) 1588-0114</p>
                    <a href="about.html" class="btn btn-style mt-5 askbtn">1:1 온라인 문의</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //bg with text section -->
    <!-- stats with quote section -->
    {{! <section class="w3-bottom-stats py-5">
        <div class="container py-lg-5 py-md-4 py-3">
            <div class="mx-auto" style="max-width: 960px">
                <div class="row">
                    <div class="col-md-5 mb-md-0 mb-4">
                        <div class="counter p-md-3 text-center">
                            <div class="timer count-title count-number" data-to="6370" data-speed="1500"></div>
                            <p class="count-text mt-2">happy People's</p>
                        </div>
                    </div>
                    <div class="col-md-7 pl-5">
                        <blockquote class="mb-0">
                            <p class="quote-main position-relative p-3">
                                <q>Nibh eu consequat magna ipsum ac ex. Nulla iaculis
                                    tincidunt elit, tortor luctus sit amet.</q>
                            </p>
                            <a href="#" class="mt-1 pl-3 blockquote-footer">James Doe</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //stats with quote section -->

    <!-- popular section -->
    {{! <section class="w3l-grids1">
        <div class="hny-three-grids py-5">
            <div class="container py-md-5 py-4">
                <h3 class="title-style text-center mb-md-5 mb-4">We are popular in</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                        <a href="#url"><img src="images/p2.jpg" class="img-fluid" alt=""></a>
                        <h5>Happy</h5>
                        <h4><a href="#url">Food & Drinks</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit
                            doloremque.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 grids5-info">
                        <a href="#url"><img src="images/p3.jpg" class="img-fluid" alt=""></a>
                        <h5>Love</h5>
                        <h4><a href="#url">Fireworks</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit
                            doloremque.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-md-0 mt-5 grids5-info">
                        <a href="#url"><img src="images/p1.jpg" class="img-fluid" alt=""></a>
                        <h5>Events</h5>
                        <h4><a href="#url">Party Celebrations</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam esse? dolores impedit
                            doloremque.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //popular section -->

    <!-- team sections -->
    {{! <section class="w3l-team-main" id="team">
        <div class="team py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy white-text text-center mb-sm-5 mb-4">
                    <span style="--i:1">O</span>
                    <span style="--i:2">u</span>
                    <span style="--i:3">r</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">T</span>
                    <span style="--i:6">e</span>
                    <span style="--i:7">a</span>
                    <span style="--i:8">m</span>
                    <span style="--i:9"></span>
                    <span style="--i:10">M</span>
                    <span style="--i:11">e</span>
                    <span style="--i:12">m</span>
                    <span style="--i:13">b</span>
                    <span style="--i:14">e</span>
                    <span style="--i:15">r</span>
                    <span style="--i:16">s</span>
                </div>
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="row team-row mt-md-5 mt-4">
                    <div class="col-lg-3 col-6 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="images/team1.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Lyn Victor</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="images/team2.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Meyer Lson</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="images/team3.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Lyn Meyer</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="images/team4.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Sam Mills</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                </div>
            </div>
        </div>
    </section> }}
    <!-- //team sections -->

    <!-- testimonials -->
    {{! <section class="w3l-clients-1" id="testimonials">
        <div class="cusrtomer-layout py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy text-center mb-sm-5 mb-4">
                    <span style="--i:1">W</span>
                    <span style="--i:2">h</span>
                    <span style="--i:3">a</span>
                    <span style="--i:4">t</span>
                    <span style="--i:5"></span>
                    <span style="--i:6">P</span>
                    <span style="--i:7">e</span>
                    <span style="--i:8">o</span>
                    <span style="--i:1">p</span>
                    <span style="--i:2">l</span>
                    <span style="--i:3">e</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">S</span>
                    <span style="--i:6">a</span>
                    <span style="--i:7">y</span>
                </div>
                <div class="testimonial-row">
                    <div id="owl-demo2" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="images/testi1.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Dennis wilson</h3>
                                            <p class="identity">Customer </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="images/testi2.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Tommy sakura</h3>
                                            <p class="identity">Customer </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="images/testi3.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Roy Linderson</h3>
                                            <p class="identity">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="images/testi2.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Mike Thyson</h3>
                                            <p class="identity">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //testimonials -->

    <!-- call section -->
    {{! <section class="w3l-call-to-action-6">
        <div class="call-sec-style py-5">
            <div class="container py-md-4 py-3">
                <div class="row align-items-center">
                    <div class="col-md-5 col-float-lt">
                        <h3 class="title-big">Register now !</h3>
                        <p>Wanna Join in, please call us today</p>
                    </div>
                    <div class="col-md-7 float-rt text-md-right align-items-center mt-md-0 mt-4">
                        <ul class="buttons">
                            <li class="phone-sec"><span class="fa fa-volume-control-phone mr-1"
                                    aria-hidden="true"></span>
                                <a class="call-style-w3" href="tel:+1(23) 456 789 0000">+1(23) 456 789 0000</a>
                            </li>
                            <li class="green">Or</li>
                            <li><a href="contact.mustache" class="btn btn-style">Get in touch</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //call section -->

    <!-- footer -->
    {{! <section class="w3l-footer-29-main" style="background: var(--bg-light)">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-6 col-12 footer-list-29">
                        <h2>
                            <a class="footer-logo" href="index.mustache">
                                Happy Events</a>
                        </h2>
                        <p class="sub-list-text mt-4 pt-lg-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                            Suspendisse a pellentesque
                            dui, non
                            felis. Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">SUPPORT</h6>
                        <ul>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms"> Terms of Service</a></li>
                            <li><a href="contact.mustache">Contact us</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-contact-list mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <ul>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-map-marker mr-2"
                                    aria-hidden="true"></i>10001, 5th Avenue, USA</li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-phone mr-2"
                                    aria-hidden="true"></i><a href="tel:+12 23456790">+12
                                    23456790</a></li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-envelope mr-2"
                                    aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //footer -->
    <!-- copyright -->
    {{! <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2021 Happy Events. All rights reserved.</p>
                <div class="col-lg-4 text-right">
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section> }}
    <!-- //copyright -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo2").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!-- counter for stats -->
    <script src="js/counter.js"></script>
    <!-- //counter for stats -->

    <!-- theme switch js (light and dark)-->
    <script src="js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>