{{> header }}

<!-- inner banner -->
<div class="category-inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">요식업</h4>
            <ul class="breadcrumbs-custom-path">
                <li>요식업의 이슈를 해결하기 위한 통합 디지털 솔루션</li>
            </ul>
        </div>
    </section>
</div>
<!-- //inner banner -->

<!-- //about section -->

<!-- blog section -->
<div class="blog-section py-5">
    <div class="container py-md-5 py-4">
        <div class="waviy text-center mb-md-5 mb-4">
            <span style="--i:1">S</span>
            <span style="--i:2">e</span>
            <span style="--i:3">r</span>
            <span style="--i:4">v</span>
            <span style="--i:5">i</span>
            <span style="--i:6">c</span>
            <span style="--i:7">e</span>
            <span style="--i:8">s</span>
        </div>

        <div class="row" id="crow">
            <div style="margin: 0 auto 30px;">
                <span class="label-blue category-tabs" style="margin: 3px" id="tabs"
                >전체</span>
                {{#serviceTypeList}}
                    <span class="label-blue category-tabs" style="margin: 3px;" data-category-id="{{id}}"
                          id="{{id}}">{{name}}</span>
                {{/serviceTypeList}}
            </div>

        </div>
    </div>
</div>

<div id="card-target" style="display: none">
    <div class="col-lg-4 col-md-6 item">
        <div class="card">
            <div class="card-header p-0 position-relative">
                <a href="/product" data-role="cat1">
                    <img src="" class="card-img-bottom d-block radius-image-full" data-role="cat2"
                         alt="Card image cap"/>
                </a>
            </div>


            <div class="card-body blog-details">
                <a href="/product" class="blog-desc" data-role="cat3"></a>
                <br>
                <div class="align-items-center mt-3 mb-1">
                    <ul class="blog-meta">
                        <li class="meta-item blog-lesson">
                                    <span class="meta-value"
                                          style="text-overflow: ellipsis"
                                          data-role="cat4"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="load-more">더보기</button>


{{> footer}}

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-level-up" aria-hidden="true"></span>
</button>
</div>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;

    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->
<!-- common jquery plugin -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->
<!-- counter for stats -->
<script src="js/counter.js"></script>
<!-- //counter for stats -->
<!-- theme switch js (light and dark)-->
<script src="js/theme-change.js"></script>
<script>
    function autoType(elementClass, typingSpeed) {
        var thhis = $(elementClass);
        thhis.css({
            position: "relative",
            display: "inline-block",
        });
        thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
        thhis = thhis.find(".text-js");
        var text = thhis.text().trim().split('');
        var amntOfChars = text.length;
        var newString = "";
        thhis.text("|");
        setTimeout(function () {
            thhis.css("opacity", 1);
            thhis.prev().removeAttr("style");
            thhis.text("");
            for (var i = 0; i < amntOfChars; i++) {
                (function (i, char) {
                    setTimeout(function () {
                        newString += char;
                        thhis.text(newString);
                    }, i * typingSpeed);
                })(i + 1, text[i]);
            }
        }, 1500);
    }

    $(document).ready(function () {
        // Now to start autoTyping just call the autoType function with the
        // class of outer div
        // The second paramter is the speed between each letter is typed.
        autoType(".type-js", 200);
    });
</script>
<!-- //theme switch js (light and dark)-->
<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });
    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->
<!--bootstrap-->
<script src="js/bootstrap.min.js"></script>
<!-- //bootstrap-->
</body>
<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<!-- //Js scripts -->
<!-- ajaxs -->
<script>
    const array = [];
    let pointer = 1;
    var template = $('#card-target');
    let loadMoreBtn = document.querySelector('#load-more');
    loadMoreBtn.addEventListener('click', () => {
        let period = (pointer) * 6;
        const newArray = array.slice(0, period + 6);
        let html = '';
        newArray.forEach((item) => {
            $(template).find('[data-role=cat1]').attr("href", "/detail");
            $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
            $(template).find('[data-role=cat3]').attr("href", "/detail");
            $(template).find('[data-role=cat3]').text(item.name);
            $(template).find('[data-role=cat4]').text(item.description);
            $(template).find('[data-role=cat5]').text(item.taglist);
            html += $(template).html();
        })
        $('#crow').find('.item').remove();
        $('#crow').append(html);
        pointer++;
    });

    function getCategories() {
        return function () {
            $.ajax({
                type: 'GET',
                url: '/api/v1/category',
                dataType: 'json',
                // contentType: 'application/json; charset=utf-8',
            }).done(function (res) {
                var html = '';
                res.forEach((item) => {
                    array.push(item);
                });
                pointer = 1;
                for (let i = 0; i < res.length; i++) {
                    if (i == 6) break;
                    let item = res[i];
                    $(template).find('[data-role=cat1]').attr("href", "/detail");
                    $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                    $(template).find('[data-role=cat3]').attr("href", "/detail");
                    $(template).find('[data-role=cat3]').text(item.name);
                    $(template).find('[data-role=cat4]').text(item.description);
                    html += $(template).html();

                }

                $('#crow').append(html);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        };
    }

    $(document).ready(getCategories())
    var tabs = $(".category-tabs");
    $('.category-tabs').on('click', function () {
        const array = [];
        let pointer = 1;
        loadMoreBtn.addEventListener('click', () => {
            let period = (pointer) * 6;
            const newArray = array.slice(0, period + 6);
            let html = '';
            newArray.forEach((item) => {
                $(template).find('[data-role=cat1]').attr("href", "/detail");
                $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                $(template).find('[data-role=cat3]').attr("href", "/detail");
                $(template).find('[data-role=cat3]').text(item.name);
                $(template).find('[data-role=cat4]').text(item.description);
                html += $(template).html();
            })
            $('#crow').find('.item').remove();
            $('#crow').append(html);
            pointer++;
        });
        for (const tab of tabs) {
            tab.classList.remove('label-blue-on')
        }
        this.classList.add('label-blue-on');
        $.ajax({
            type: 'GET',
            url: '/api/v1/category/' + this.dataset.categoryId,
            dataType: 'json',
            // contentType: 'application/json; charset=utf-8',
        }).done(function (res) {
            var html = '';
            res.forEach((item) => {
                array.push(item);
            });
            pointer = 1;
            for (let i = 0; i < res.length; i++) {
                if (i == 6) break;
                let item = res[i];
                console.log(item);
                $(template).find('[data-role=cat1]').attr("href", "/detail");
                $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                $(template).find('[data-role=cat3]').attr("href", "/detail");
                $(template).find('[data-role=cat3]').text(item.name);
                $(template).find('[data-role=cat4]').text(item.description);

                html += $(template).html();

            }
            $('#crow').find('.item').remove();
            $('#crow').append(html);
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    });
</script>
</html>