{{> header }}


<!-- banner section -->
<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="banner">
            <img src="../images/AI_BD_006_tban_pc.png">
            <div id="Text8">
                <h1 id='pd-name'>잘나가게</h1>
                <h2 id="pd-desc">빅데이터를 활용해 유용한 상권 정보와 이에 따른 영업 TIP을<br>
                    보내주는 예비창업자/소상공인 대상 문자 알림 서비스</h2>
            </div>
        </div>
    </div>
</section>

<!-- tab section -->
<div class="sub_tab j_pc_scroll_fix" style="margin-top:50px">
    <div class="sub_tab_fix j_pc_scroll_fix_cont">
        <div class="inner">
            <ul>
                <li class="on"><a href="#section1" data-txt="서비스소개">서비스소개</a></li>
                <li><a href="#section2" data-txt="기대효과">기대효과</a></li>
                <li><a href="#section3" data-txt="요금안내">요금안내</a></li>
                <li data-wrap-userguide=""><a href="#section4" data-txt="사용자 가이드">사용자 가이드</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- product detail section -->
<div class="blog-section py-5">
    <div class="container py-md-5 py-4">
        <div class="waviy text-center mb-md-5 mb-4">
            <h3 style="font-weight: bold; margin-top: 50px; line-height: 1.5em;">
                내 가게 상권의 유동인구, 매출 데이터, 경쟁현황, 배달분석, 트렌드/이슈 등<br>
                유용한 데이터를 주 1회 이상 문자 알림 서비스로 제공합니다.</h3>
        </div>

        <!-- 서비스 구성 + 활용 방안 -->
        <section id="section1" class="section_detail mt100">
            <div class="mid">
                <div class="cont">
                    <div class="diagram">
                        <h2 style="margin-top:100px;"><strong class="tit_left">서비스구성</strong></h2>
                        <ul class="list_dot_big mt20">
                            <li>점포를 운영하고 있는 소상공인을 대상으로 점포 운영과 관계된 유용한 상권 정보를 제공</li>
                        </ul>
                        <figure class="no_line">
                            <img src="../images/AI_BD_006_svdt_01.png" alt="서비스구성 이미지">
                        </figure>
                    </div>
                    <div class="diagram">
                        <h2><strong class="tit_left">활용방안</strong></h2>
                        <ul class="list_dot_big mt20">
                            <li>제공된 정보를 가게 운영에 참고, 활용하여 매장 정비 및 매출 증진 효과 기대</li>
                        </ul>
                        <figure class="no_line">
                            <img src="../images/AI_BD_006_svdt_02.png" alt="활용방안 이미지">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- 기대효과 -->
        <section id="section2" class="section_detail mt100">
            <div class="mid">
                <div class="cont">
                    <div class="diagram">
                        <h2 style="margin-top:100px; padding-top: 108px;"><strong class="tit_left">기대효과</strong></h2>
                        <ul class="list_dot_big mt20">
                            <li>내 가게 주변에 대한 정보를 습득하고, 가게 운영에 참고할 수 있습니다.</li>
                        </ul>
                        <div class="content-sec-11">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="services-single d-flex p-sm-5 p-4">
                                        <div class="service-icon mr-sm-4 mr-3">
                                            <img src="assets/images/s3.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="services-content">
                                            <h4><strong>내 가게 실제 상권 확인하기</strong></h4>
                                            <p>구역 기준이 아닌, 점포마다 달라지는<br>
                                                실제 상권 영역을 보여줍니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="services-single d-flex p-sm-5 p-4">
                                        <div class="service-icon mr-sm-4 mr-3">
                                            <img src="assets/images/s1.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="services-content">
                                            <h4><strong>내 가게 주변 유동인구 정보</strong></h4>
                                            <p>내 가게 주변 유동인구를 분석하여<br>
                                                효율적인 가게 운영을 도와줍니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="services-single d-flex p-sm-5 p-4 mb-lg-0">
                                        <div class="service-icon mr-sm-4 mr-3">
                                            <img src="assets/images/s2.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="services-content">
                                            <h4><strong>빅데이터가 제공하는 주변 상권 정보</strong></h4>
                                            <p>내 가게 주변 동종 업종 점포의 매출 분석,<br>
                                                경쟁 환경 분석 등의 정보를 제공합니다.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="services-single d-flex p-sm-5 p-4 mb-0">
                                        <div class="service-icon mr-sm-4 mr-3">
                                            <img src="assets/images/s4.png" alt="" class="img-fluid">
                                        </div>
                                        <div class="services-content">
                                            <h4><strong>맞춤형 영업 TIP</strong></h4>
                                            <p>내 가게에 맞는 영업 TIP을<br> 가게 운영에 참고해 보세요.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 요금안내 -->
        <section id="section3" class="section_detail mt100" style="margin-top:100px">
            <div class="mid">
                <div class="cont">
                    <div class="diagram">
                        <h2 style="padding-top: 108px;"><strong class="tit_left">요금안내</strong></h2>
                        <table class="table table-striped" style="margin-top:30px; text-align:center">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">서비스 구분</th>
                                    <th style="text-align: center;">서비스 내용</th>
                                    <th style="text-align: center;">월이용료</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>기본 서비스</td>
                                    <td>유동인구, 매출분석, 경쟁분석, 배달분석, 트렌드/이슈</td>
                                    <td>무료</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ section -->
        <section id="section4" class="section_detail mt100" style="margin-top:100px">
            <div class="mid">
                <div class="cont">
                    <div class="diagram">
                        <h2 style="padding-top: 108px;"><strong class="tit_left">사용자 가이드</strong></h2>
                        <div class="card-body">
                            <div class="mt-4">
                                <div class="accordion" id="accordion" role="tablist">
                                    <div class="card" style="height:70px">
                                        <div class="card-header" role="tab" id="heading-1">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                                                    aria-controls="collapse-1" data-abc="true" class="collapsed">
                                                    가맹점주나 직영점 책임자별이 아닌 프랜차이즈 본사 차원에서 일괄 가입하고 싶습니다.
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-1" class="collapse" role="tabpanel"
                                            aria-labelledby="heading-1" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                <p class="mb-0">잘나가게 서비스는 점포기반 서비스라, 가맹점은 가맹점별로 가입이 필요하고
                                                    직영점이라고 하더라도 개별 직영점 점포별로 홈페이지에서 직접 가입을 해야 합니다.
                                                    회원가입 시 점포등록은 가입을 전제로 하므로,
                                                    직영점 책임자가 전출이나 퇴사를 하는 경우라면 새로운 책임자가 다시 가입하는 것이 필요합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="height:70px">
                                        <div class="card-header" role="tab" id="heading-2">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapse-2"
                                                    aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                                                    메뉴별로 원치 않는 정보는 발송 받지 않도록 설정할 수 있나요?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-2" class="collapse" role="tabpanel"
                                            aria-labelledby="heading-2" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>현재는 해당 기능이 없습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="height:70px">
                                        <div class="card-header" role="tab" id="heading-3">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapse-3"
                                                    aria-expanded="false" aria-controls="collapse-3" data-abc="true">
                                                    트렌드분석에 활용된 SNS는 어떤 걸 말하나요?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-3" class="collapse" role="tabpanel"
                                            aria-labelledby="heading-3" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="mb-0">페이스북과 인스타그램이며,
                                                    업종별 프랜차이즈에 대한 월간 언급량을 기준으로 정보가 제공됩니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="height:70px">
                                        <div class="card-header" role="tab" id="heading-4">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapse-4"
                                                    aria-expanded="false" aria-controls="collapse-4" data-abc="true">
                                                    서비스에 제공되는 업종 기준은 무엇인가요?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-4" class="collapse" role="tabpanel"
                                            aria-labelledby="heading-4" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="mb-0">공정거래위원회에 등록된 43개 업종에 대해 제공 합니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="height:70px">
                                        <div class="card-header" role="tab" id="heading-5">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" href="#collapse-5"
                                                    aria-expanded="false" aria-controls="collapse-5" data-abc="true">
                                                    사업장 등록을 해도 내 상권 정보가 보이지 않는데 왜 그런가요?
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-5" class="collapse" role="tabpanel"
                                            aria-labelledby="heading-5" data-parent="#accordion">
                                            <div class="card-body">
                                                <p class="mb-0">사장님 가게의 유동인구 데이터가 아직 수집되지 않았습니다.
                                                    1:1 문의 게시판에 남겨 주시면 빠른 시간 내 정보를 제공해 드릴 수 있도록 하겠습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="label-blue" style="margin-left:42%"><a href="about.html">전체 보기</a></span>
        </section>
    </div>
</div>

<!-- 가입하기 버튼 -->
<a href="https://jalnagage.kt.co.kr/home/" class="label-blue-button">가입하기</a>


<!-- bg with text section -->
<section class="w3l-covers-14 position-relative" style="margin-bottom:100px">
    <div class="covers14-block py-5">
        <div class="container py-md-5 py-4">
            <div class="covers14-text text-center mx-auto py-lg-5" style="max-width:950px">
                <h4>비즈니스 솔루션 문의 및 상품 문의에 이르기까지 KT가 도와드립니다.</h4>
                <p class="mt-3 sub-title">(기업 상담) 1588-0114</p>
                <a href="about.html" class="btn btn-style mt-5 askbtn">1:1 온라인 문의</a>
            </div>
        </div>
    </div>
</section>
<!-- //bg with text section -->

{{> footer}}

<!-- Js scripts -->
<!-- move top -->
<style>
    .wrapper {
        position: fixed;
        top: 75%;
        left: 93%;
        transform: translate(-50%, -50%);
    }

    .link_wrapper {
        position: relative;
    }

    .a_id {
        display: block;
        border-radius: 4px;
        font-size: 15px;
        width: 100px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        text-decoration: none;
        background: #bd2130;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 3px solid #bd2130;
        transition: all .35s;
    }

    .icon {
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0;
        z-index: -1;
        transition: all .35s;
    }

    .icon svg {
        width: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transform: rotate(-45deg);
        fill: #bd2130;
        transition: all .35s;
    }

    .a_id:hover {
        width: 100px;
        border: 3px solid #bd2130;
        background: transparent;
        color: #bd2130;
        font-size: 15px;
    }

    .a_id:hover+.icon {
        border: 3px solid #bd2130;
        right: -25%;
    }
</style>
<div class="wrapper">
    <div class="link_wrapper">
        <a class="a_id" href="https://jalnagage.kt.co.kr/home/">가입</a>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                <path
                    d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
            </svg>
        </div>
    </div>

</div>
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-level-up" aria-hidden="true"></span>
</button>
<!--내비게이션바 main.js 파일 경로-->
<script src="/js/common.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script src="/js/slick.js"></script>
<script type="text/javascript">$ = jq = jQuery.noConflict();</script>
<script src="/js/img_data.js"></script>
<script src="/js/iscroll.js" id="pageNavigationIscroll"></script>
<script src="/js/pageNavigation.js" id="pageNavigationJs"></script>
<script src="/js/owl.carousel.js"></script>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- slider-js -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/modernizr-2.6.2.min.js"></script>
<script src="assets/js/jquery.zoomslider.min.js"></script>
<!-- //slider-js -->

<!-- owl carousel -->
<script src="assets/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<!-- //script for tesimonials carousel slider -->

<!-- theme switch js (light and dark)-->
<script src="assets/js/theme-change.js"></script>
<script>
    function autoType(elementClass, typingSpeed) {
        var thhis = $(elementClass);
        thhis.css({
            "position": "relative",
            "display": "inline-block"
        });
        thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
        thhis = thhis.find(".text-js");
        var text = thhis.text().trim().split('');
        var amntOfChars = text.length;
        var newString = "";
        thhis.text("|");
        setTimeout(function () {
            thhis.css("opacity", 1);
            thhis.prev().removeAttr("style");
            thhis.text("");
            for (var i = 0; i < amntOfChars; i++) {
                (function (i, char) {
                    setTimeout(function () {
                        newString += char;
                        thhis.text(newString);
                    }, i * typingSpeed);
                })(i + 1, text[i]);
            }
        }, 1500);
    }

    $(document).ready(function () {
        // Now to start autoTyping just call the autoType function with the
        // class of outer div
        // The second paramter is the speed between each letter is typed.
        autoType(".type-js", 200);
    });
</script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".template-navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which template-navbar is in active -->
<script>
    $(function () {
        $('.template-navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which template-navbar is in active -->

<!--bootstrap-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->
</body>

</html>