<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Events - Entertainment Category Responsive Website Template - Home </title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/detail-page.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="template-navbar template-navbar-expand-lg stroke">
                <h1>
                    <a class="template-navbar-brand d-flex align-items-center" href="index.html">
                        Happy Events</a>
                </h1>
                <!-- if logo is image enable this
    <a class="template-navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="template-navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#template-navbarTogglerDemo02" aria-controls="template-navbarTogglerDemo02"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="template-navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="template-navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse template-navbar-collapse" id="template-navbarTogglerDemo02">
                    <ul class="template-navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="events.html">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="template-navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="template-navbarDropdown">
                                <a class="dropdown-item" href="services.html">Services</a>
                                <a class="dropdown-item" href="single.html">Single Page</a>
                                <a class="dropdown-item" href="error.html">404 Page</a>
                                <a class="dropdown-item" href="landing-single.html">Landing Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-lg-3">
                            <form action="error.html" method="GET" class="search-box position-relative">
                                <div class="input-search">
                                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                        autofocus="" class="search-popup">
                                </div>
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- banner section -->
    <section class="w3l-main-slider" id="home">
        <div class="banner-content">
            <div id="banner">
                <img src="../images/AI_BD_006_tban_pc.png">
                <div id="Text8">
                    <h1 id='pd-name'>잘나가게</h1>
                    <h2 id="pd-desc">빅데이터를 활용해 유용한 상권 정보와 이에 따른 영업 TIP을<br>
                        보내주는 예비창업자/소상공인 대상 문자 알림 서비스</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- tab section -->
    <div class="sub_tab j_pc_scroll_fix" style="margin-top:50px">
        <div class="sub_tab_fix j_pc_scroll_fix_cont">
            <div class="inner">
                <ul>
                    <li class="on"><a href="#section1" data-txt="서비스소개">서비스소개</a></li>
                    <li><a href="#section2" data-txt="기대효과">기대효과</a></li>
                    <li><a href="#section3" data-txt="요금안내">요금안내</a></li>
                    <li data-wrap-userguide=""><a href="#section4" data-txt="사용자 가이드">사용자 가이드</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- product detail section -->
    <div class="blog-section py-5">
        <div class="container py-md-5 py-4">
            <div class="waviy text-center mb-md-5 mb-4">
                <h3 style="font-weight: bold; margin-top: 50px;">
                    내 가게 상권의 유동인구, 매출 데이터, 경쟁현황, 배달분석, 트렌드/이슈 등<br>
                    유용한 데이터를 주 1회 이상 문자 알림 서비스로 제공합니다.</h3>
            </div>

            <!-- 서비스 구성 + 활용 방안 -->
            <section id="section1" class="section_detail mt100">
                <div class="mid">
                    <div class="cont">
                        <div class="diagram">
                            <h2 style="margin-top:100px;"><strong class="tit_left">서비스구성</strong></h2>
                            <ul class="list_dot_big mt20">
                                <li>점포를 운영하고 있는 소상공인을 대상으로 점포 운영과 관계된 유용한 상권 정보를 제공</li>
                            </ul>
                            <figure class="no_line">
                                <img src="../images/AI_BD_006_svdt_01.png" alt="서비스구성 이미지">
                            </figure>
                        </div>
                        <div class="diagram">
                            <h2><strong class="tit_left">활용방안</strong></h2>
                            <ul class="list_dot_big mt20">
                                <li>제공된 정보를 가게 운영에 참고, 활용하여 매장 정비 및 매출 증진 효과 기대</li>
                            </ul>
                            <figure class="no_line">
                                <img src="../images/AI_BD_006_svdt_02.png" alt="활용방안 이미지">
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 기대효과 -->
            <section id="section2" class="section_detail mt100">
                <div class="mid">
                    <div class="cont">
                        <div class="diagram">
                            <h2 style="margin-top:100px;"><strong class="tit_left">기대효과</strong></h2>
                            <ul class="list_dot_big mt20">
                                <li>내 가게 주변에 대한 정보를 습득하고, 가게 운영에 참고할 수 있습니다.</li>
                            </ul>
                            <div class="content-sec-11">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="services-single d-flex p-sm-5 p-4">
                                            <div class="service-icon mr-sm-4 mr-3">
                                                <img src="assets/images/s3.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="services-content">
                                                <h4><strong>내 가게 실제 상권 확인하기</strong></h4>
                                                <p>구역 기준이 아닌, 점포마다 달라지는<br>
                                                    실제 상권 영역을 보여줍니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="services-single d-flex p-sm-5 p-4">
                                            <div class="service-icon mr-sm-4 mr-3">
                                                <img src="assets/images/s1.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="services-content">
                                                <h4><strong>내 가게 주변 유동인구 정보</strong></h4>
                                                <p>내 가게 주변 유동인구를 분석하여<br>
                                                    효율적인 가게 운영을 도와줍니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="services-single d-flex p-sm-5 p-4 mb-lg-0">
                                            <div class="service-icon mr-sm-4 mr-3">
                                                <img src="assets/images/s2.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="services-content">
                                                <h4><strong>빅데이터가 제공하는 주변 상권 정보</strong></h4>
                                                <p>내 가게 주변 동종 업종 점포의 매출 분석,<br>
                                                    경쟁 환경 분석 등의 정보를 제공합니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="services-single d-flex p-sm-5 p-4 mb-0">
                                            <div class="service-icon mr-sm-4 mr-3">
                                                <img src="assets/images/s4.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="services-content">
                                                <h4><strong>맞춤형 영업 TIP</strong></h4>
                                                <p>내 가게에 맞는 영업 TIP을<br> 가게 운영에 참고해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 요금안내 -->
            <section id="section3" class="section_detail mt100" style="margin-top:100px">
                <div class="mid">
                    <div class="cont">
                        <div class="diagram">
                            <h2><strong class="tit_left">요금안내</strong></h2>
                            <table class="table table-striped" style="margin-top:30px; text-align:center">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">서비스 구분</th>
                                        <th style="text-align: center;">서비스 내용</th>
                                        <th style="text-align: center;">월이용료</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>기본 서비스</td>
                                        <td>유동인구, 매출분석, 경쟁분석, 배달분석, 트렌드/이슈</td>
                                        <td>무료</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <!-- FAQ section -->
            <section id="section4" class="section_detail mt100" style="margin-top:100px">
                <div class="mid">
                    <div class="cont">
                        <div class="diagram">
                            <h2><strong class="tit_left">사용자 가이드</strong></h2>
                            <div class="card-body">
                                <div class="mt-4">
                                    <div class="accordion" id="accordion" role="tablist">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-1">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                                                        aria-controls="collapse-1" data-abc="true" class="collapsed">
                                                        가맹점주나 직영점 책임자별이 아닌 프랜차이즈 본사 차원에서 일괄 가입하고 싶습니다.
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-1" class="collapse" role="tabpanel"
                                                aria-labelledby="heading-1" data-parent="#accordion" style="">
                                                <div class="card-body">
                                                    <p class="mb-0">잘나가게 서비스는 점포기반 서비스라, 가맹점은 가맹점별로 가입이 필요하고
                                                        직영점이라고 하더라도 개별 직영점 점포별로 홈페이지에서 직접 가입을 해야 합니다.
                                                        회원가입 시 점포등록은 가입을 전제로 하므로,
                                                        직영점 책임자가 전출이나 퇴사를 하는 경우라면 새로운 책임자가 다시 가입하는 것이 필요합니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-2">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-2"
                                                        aria-expanded="false" aria-controls="collapse-2"
                                                        data-abc="true">
                                                        메뉴별로 원치 않는 정보는 발송 받지 않도록 설정할 수 있나요?
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-2" class="collapse" role="tabpanel"
                                                aria-labelledby="heading-2" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>현재는 해당 기능이 없습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-3">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-3"
                                                        aria-expanded="false" aria-controls="collapse-3"
                                                        data-abc="true">
                                                        트렌드분석에 활용된 SNS는 어떤 걸 말하나요?
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-3" class="collapse" role="tabpanel"
                                                aria-labelledby="heading-3" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p class="mb-0">페이스북과 인스타그램이며,
                                                        업종별 프랜차이즈에 대한 월간 언급량을 기준으로 정보가 제공됩니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-4">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-4"
                                                        aria-expanded="false" aria-controls="collapse-4"
                                                        data-abc="true">
                                                        서비스에 제공되는 업종 기준은 무엇인가요?
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-4" class="collapse" role="tabpanel"
                                                aria-labelledby="heading-4" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p class="mb-0">공정거래위원회에 등록된 43개 업종에 대해 제공 합니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-5">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" href="#collapse-5"
                                                        aria-expanded="false" aria-controls="collapse-5"
                                                        data-abc="true">
                                                        사업장 등록을 해도 내 상권 정보가 보이지 않는데 왜 그런가요?
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-5" class="collapse" role="tabpanel"
                                                aria-labelledby="heading-5" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p class="mb-0">사장님 가게의 유동인구 데이터가 아직 수집되지 않았습니다.
                                                        1:1 문의 게시판에 남겨 주시면 빠른 시간 내 정보를 제공해 드릴 수 있도록 하겠습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="label-blue" style="margin-left:42%"><a href="about.html">전체 보기</a></span>
            </section>
        </div>
    </div>

    <!-- 가입하기 버튼 -->
    <a href="https://jalnagage.kt.co.kr/home/" class="label-blue-button">가입하기</a>


    <!-- bg with text section -->
    <section class="w3l-covers-14 position-relative" style="margin-bottom:100px">
        <div class="covers14-block py-5">
            <div class="container py-md-5 py-4">
                <div class="covers14-text text-center mx-auto py-lg-5" style="max-width:950px">
                    <h4>비즈니스 솔루션 문의 및 상품 문의에 이르기까지 KT가 도와드립니다.</h4>
                    <p class="mt-3 sub-title">(기업 상담) 1588-0114</p>
                    <a href="about.html" class="btn btn-style mt-5 askbtn">1:1 온라인 문의</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //bg with text section -->

    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5" style="background-color:#031B4B; margin-top:200px">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-6 col-12 footer-list-29">
                        <h2>
                            <img src="../images/kt_enterprise_logo.png" width="250px">
                        </h2>
                        <p class="sub-list-text mt-4 pt-lg-2" style="font-size:12px; color:white;">
                            (주)케이티 대표이사 구현모 경기도 성남시 분당구 불정로 90 (정자동)<br>
                            사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
                            기업 상담전화 : 1588-0114(유료), 유선전화(국번없이) 100, 휴대폰(지역번호)+100</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29" style="padding-top:20px">SUPPORT</h6>
                        <ul>
                            <li><a style="font-size: 15px;"
                                    href="https://corp.kt.com/html/etc/agreement_01.html">이용약관</a></li>
                            <li><a style="font-size: 15px;"
                                    href="https://corp.kt.com/html/etc/agreement_04.html">기업상품약관</a></li>
                            <li><a style="font-size: 15px;" href="https://corp.kt.com/html/etc/legal.html">법적고지</a></li>
                            <li><a style="font-size: 15px;"
                                    href="https://corp.kt.com/html/etc/privacy.html">개인정보처리방침</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->

    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29" style="font-size:12px">Copyrightⓒ 2022 kt corp. All rights reserved.
                </p>
                <div class="col-lg-4 text-right">
                    <div class="main-social-footer-29">
                        <a href="https://blog.naver.com/ktenterprise" target="_blank"
                            title="KT Enterprise 블로그 새창열림"><img src="../images/ico_sns_b.png" alt="blog"></a>
                        <a href="https://www.facebook.com/kt.corp" target="_blank" title="KT 페이스북 새창열림"><img
                                src="../images/ico_sns_f.png" alt="facebook"></a>
                        <a href="https://twitter.com/kt_corp" target="_blank" title="KT 트위터 새창열림"><img
                                src="../images/ico_sns_t.png" alt="twitter"></a>
                        <a href="https://youtube.com/c/KTBiz" target="_blank" title="KT 유튜브 새창열림"><img
                                src="../images/ico_sns_y.png" alt="youtube"></a>
                        <a href="https://post.naver.com/my.nhn?memberNo=30305360" target="_blank"
                            title="KT 네이버 포스트 새창열림"><img src="../images/ico_sns_p.png" alt="post"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //copyright -->

    <!-- Js scripts -->
    <!-- move top -->
    <a href="https://jalnagage.kt.co.kr/home/" id="signup" title="Sign up">가입<br>하기</a>
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- slider-js -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <script src="assets/js/jquery.zoomslider.min.js"></script>
    <!-- //slider-js -->

    <!-- owl carousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <!-- //script for tesimonials carousel slider -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the
            // class of outer div
            // The second paramter is the speed between each letter is typed.
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".template-navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which template-navbar is in active -->
    <script>
        $(function () {
            $('.template-navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which template-navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>