<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Events - Entertainment Category Responsive Website Template - Home </title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/detail-page.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand d-flex align-items-center" href="index.html">
                        Happy Events</a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="events.html">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="services.html">Services</a>
                                <a class="dropdown-item" href="single.html">Single Page</a>
                                <a class="dropdown-item" href="error.html">404 Page</a>
                                <a class="dropdown-item" href="landing-single.html">Landing Page</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>
                        <!-- search button -->
                        <div class="search-right ml-lg-3">
                            <form action="error.html" method="GET" class="search-box position-relative">
                                <div class="input-search">
                                    <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                        autofocus="" class="search-popup">
                                </div>
                                <button type="submit" class="btn search-btn"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- //search button -->
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->

    <!-- banner section -->
    <section class="w3l-main-slider" id="home">
        <div class="banner-content">
            <div id="banner">
                <img src="../images/AI_BD_006_tban_pc.png">
                <div id="Text8">
                    <h1 id='pd-name'>잘나가게</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- tab section -->
    <div class="sub_tab j_pc_scroll_fix" style="margin-top:50px">
        <div class="sub_tab_fix j_pc_scroll_fix_cont">
            <div class="inner">
                <ul>
                    <li class="on"><a href="javascript:void(0)" data-txt="서비스소개">서비스소개</a></li>
                    <li><a href="javascript:void(0)" data-txt="기대효과">기대효과</a></li>
                    <li><a href="javascript:void(0)" data-txt="요금안내">요금안내</a></li>
                    <li data-wrap-insight=""><a href="javascript:void(0)" data-txt="DX Story">DX Story</a></li>
                    <li data-wrap-userguide=""><a href="javascript:void(0)" data-txt="사용자 가이드">사용자 가이드</a></li>
                    <li><a href="javascript:void(0)" data-txt="추천상품">추천상품</a></li>
                </ul>
                <aside class="aside">
                    <ul>
                            <li class="consulting"><a href="javascript:void(0)" onclick="floating_pop_open('consulting')"><span class="hidden">컨설팅신청</span></a></li>
                        <li class="share"><a href="#" class="btn_share type2"><span class="hidden">공유</span></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <!-- product detail section -->
    <div class="blog-section py-5">
        <div class="container py-md-5 py-4">
            <div class="waviy text-center mb-md-5 mb-4">
                <h3 style="font-weight: bold; margin-top: 50px;">
                    내 가게 상권의 유동인구, 매출 데이터, 경쟁현황, 배달분석, 트렌드/이슈 등<br>
                    유용한 데이터를 주 1회 이상 문자 알림 서비스로 제공합니다.</h3>
            </div>

            <section class="section_detail mt100">
                <div class="mid">
                    <div class="cont">
                        <div class="diagram">
                            <h2 style="margin-top:100px;"><strong class="tit_left">서비스구성</strong></h2>
                            <ul class="list_dot_big mt20">
                                <li>점포를 운영하고 있는 소상공인을 대상으로 점포 운영과 관계된 유용한 상권 정보를 제공</li>
                            </ul>
                            <figure class="no_line">
                                <img src="../images/AI_BD_006_svdt_01.png" alt="서비스구성 이미지">
                            </figure>
                        </div>
                        <div class="diagram">
                            <h2><strong class="tit_left">활용방안</strong></h2>
                            <ul class="list_dot_big mt20">
                                <li>제공된 정보를 가게 운영에 참고, 활용하여 매장 정비 및 매출 증진 효과 기대</li>
                            </ul>
                            <figure class="no_line">
                                <img src="../images/AI_BD_006_svdt_02.png" alt="활용방안 이미지">
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <!--<section class="section_effect mt88" style="margin-top: 100px;">
                <div class="ex_effect_top bg_pagecode" style="width:100%">
                    <div class="inner">
                        <h2>기대효과</h2>
                        <p>내 가게 주변에 대한 정보를 습득하고, 가게 운영에 참고할 수 있습니다.</p>
                        <ul>
                            <li>내 가게 실제 상권 확인하기</li>
                            <li>내  가게 주변 동종 업종 점포의 매출 분석</li>
                        </ul>
                        <ul>
                            <li>내 가게 주변 유동인구 정보</li>
                            <li>내 가게 주변 경쟁 환경</li>
                        </ul>
                    </div>
                </div>
                <div class="ex_effect_info">
                    <div class="mid">
                        <ul class="effect_list case3">
                            <li>
                                <dl>
                                    <dt><span>실제 상권 영역 확인</span></dt>
                                    <dd>구역 기준이 아닌, 점포마다 달라지는 실제 상권 영역을 보여줍니다. </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><span>빅데이터가 제공하는 상권 정보</span></dt>
                                    <dd>내 가게 주변 유동인구, 매출 분석, 경쟁 환경 분석 등의 정보를 제공합니다.</dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><span>맞춤형 영업 TIP</span></dt>
                                    <dd>내 가게에 맞는 영업 TIP으로 가게 운영에 참고해 보세요.</dd>
                                </dl>
                            </li>		
                        </ul>
                    </div>
                </div>
            </section>-->
            <!--<section class="section_fare mt100">
                <div class="mid">
                    <div class="tit">
                        <h2 data-txt="요금안내">요금안내</h2>
                    </div>
                    <div class="cont mt33">
                        <span class="desc">※ VAT 별도</span>
                        <table class="tbl_list">
                            <caption>서비스 구분,서비스 내용,월이용료 으로 구성된 테이블</caption>
                            <colgroup>
                                <col width="30%">
                                <col width="40%">
                                <col width="30%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>서비스 구분</th>
                                <th>서비스 내용</th>
                                <th>월이용료</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="td_thead">기본서비스</td>
                                <td>유동인구, 매출분석, 경쟁분석, 배달분석, 트렌드/이슈</td>
                                <td>무료</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="section_insight" data-wrap-insight="">
                <div class="mid">
                    <div class="tit">
                        <h2 data-txt="DX Story">DX Story</h2>
                    </div>
                    <div class="cont">
                        <div class="bnr_list more_list j_bnr_list">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section_library" data-wrap-userguide="">
                <div class="mid">
                    <div class="tit">
                        <h2 data-txt="사용자 가이드">사용자 가이드</h2>
                        <p class="tit_desc">다양한 문제 해결을 KT가 도와드립니다.</p>
                    </div>
                    <div class="cont" data-wrap-library="">
                        
                    </div>
                    <div data-wrap-faq="">
                        <div class="cont">
                            <div class="faq_list more_list">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="javascript:void(0)" class="btn_more j_btn_more">전체보기</a>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
    </div>


    <!-- bg with text section -->
    <section class="w3l-covers-14 position-relative">
        <div class="covers14-block py-5">
            <div class="container py-md-5 py-4">
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="covers14-text text-center mx-auto py-lg-5" style="max-width:950px">
                    <h4>비즈니스 솔루션 문의 및 상품 문의에 이르기까지 KT가 도와드립니다.</h4>
                    <p class="mt-3 sub-title">(기업 상담) 1588-0114</p>
                    <a href="about.html" class="btn btn-style mt-5 askbtn">1:1 온라인 문의</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //bg with text section -->

    <!-- services section -->
    <section class="w3l-content-11-main position-relative">
        <div class="content-design-11 py-5">
            <div class="container py-md-5 py-4">
                <h3 class="title-style text-center mb-md-5 mb-4">We Provide Best Services</h3>
                <div class="content-sec-11">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="services-single d-flex p-sm-5 p-4">
                                <div class="service-icon mr-sm-4 mr-3">
                                    <img src="assets/images/s3.png" alt="" class="img-fluid">
                                </div>
                                <div class="services-content">
                                    <h5><a href="services.html">Awesome Design</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at
                                        porttitor vehicula nullam augue ipsum dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-single d-flex p-sm-5 p-4">
                                <div class="service-icon mr-sm-4 mr-3">
                                    <img src="assets/images/s1.png" alt="" class="img-fluid">
                                </div>
                                <div class="services-content">
                                    <h5><a href="services.html">Organised</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at
                                        porttitor vehicula nullam augue ipsum dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="services-single d-flex p-sm-5 p-4 mb-lg-0">
                                <div class="service-icon mr-sm-4 mr-3">
                                    <img src="assets/images/s2.png" alt="" class="img-fluid">
                                </div>
                                <div class="services-content">
                                    <h5><a href="services.html">We are the best</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at
                                        porttitor vehicula nullam augue ipsum dolor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-single d-flex p-sm-5 p-4 mb-0">
                                <div class="service-icon mr-sm-4 mr-3">
                                    <img src="assets/images/s4.png" alt="" class="img-fluid">
                                </div>
                                <div class="services-content">
                                    <h5><a href="services.html">Creativity</a></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna at
                                        porttitor vehicula nullam augue ipsum dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <a class="btn btn-style" href="services.html">Learn More Services</a>
                    </div>
                </div>
            </div>
            <!-- balloon animation -->
            <div class="circle">

            </div>
            <!-- balloon animation -->
            <div class="animation-2">

            </div>
        </div>
    </section>
    <!-- //services section -->

    <!-- team sections -->
    <section class="w3l-team-main" id="team">
        <div class="team py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy white-text text-center mb-sm-5 mb-4">
                    <span style="--i:1">O</span>
                    <span style="--i:2">u</span>
                    <span style="--i:3">r</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">T</span>
                    <span style="--i:6">e</span>
                    <span style="--i:7">a</span>
                    <span style="--i:8">m</span>
                    <span style="--i:9"></span>
                    <span style="--i:10">M</span>
                    <span style="--i:11">e</span>
                    <span style="--i:12">m</span>
                    <span style="--i:13">b</span>
                    <span style="--i:14">e</span>
                    <span style="--i:15">r</span>
                    <span style="--i:16">s</span>
                </div>
                <!-- fireworks effect -->
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="row team-row mt-md-5 mt-4">
                    <div class="col-lg-3 col-6 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="assets/images/team1.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Lyn Victor</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap">
                        <div class="team-member text-center">
                            <div class="team-img">
                                <img src="assets/images/team2.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Meyer Lson</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="assets/images/team3.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Lyn Meyer</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                    <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                        <div class="team-member last text-center">
                            <div class="team-img">
                                <img src="assets/images/team4.jpg" alt="" class="radius-image">
                            </div>
                            <a href="#url" class="team-title">Sam Mills</a>
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end team member -->
                </div>
            </div>
        </div>
    </section>
    <!-- //team sections -->

    <!-- testimonials -->
    <section class="w3l-clients-1" id="testimonials">
        <div class="cusrtomer-layout py-5">
            <div class="container py-md-5 py-4">
                <div class="waviy text-center mb-sm-5 mb-4">
                    <span style="--i:1">W</span>
                    <span style="--i:2">h</span>
                    <span style="--i:3">a</span>
                    <span style="--i:4">t</span>
                    <span style="--i:5"></span>
                    <span style="--i:6">P</span>
                    <span style="--i:7">e</span>
                    <span style="--i:8">o</span>
                    <span style="--i:1">p</span>
                    <span style="--i:2">l</span>
                    <span style="--i:3">e</span>
                    <span style="--i:4"></span>
                    <span style="--i:5">S</span>
                    <span style="--i:6">a</span>
                    <span style="--i:7">y</span>
                </div>
                <div class="testimonial-row">
                    <div id="owl-demo2" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="assets/images/testi1.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Dennis wilson</h3>
                                            <p class="identity">Customer </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="assets/images/testi2.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Tommy sakura</h3>
                                            <p class="identity">Customer </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="assets/images/testi3.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Roy Linderson</h3>
                                            <p class="identity">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Lorem ipsum dolor sit amet int consectetur adipisicing elit. Velita beatae
                                            laudantium Quas minima sunt natus tempore, maiores aliquid modi felis vitae
                                            facere aperiam sequi optio lacinia id ipsum non velit, culpa.
                                            voluptate rem ullam dolore nisi est quasi, doloribus tempora.
                                            est elit. Non quae, fugiat ad libero justo sed amet.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <a href="#url" class="testi-img">
                                            <img src="assets/images/testi2.jpg" alt="" class="radius-image img-fluid">
                                        </a>
                                        <div class="peopl align-self">
                                            <h3>Mike Thyson</h3>
                                            <p class="identity">Customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials -->

    <!-- call section -->
    <section class="w3l-call-to-action-6">
        <div class="call-sec-style py-5">
            <div class="container py-md-4 py-3">
                <div class="row align-items-center">
                    <div class="col-md-5 col-float-lt">
                        <h3 class="title-big">Register now !</h3>
                        <p>Wanna Join in, please call us today</p>
                    </div>
                    <div class="col-md-7 float-rt text-md-right align-items-center mt-md-0 mt-4">
                        <ul class="buttons">
                            <li class="phone-sec"><span class="fa fa-volume-control-phone mr-1"
                                    aria-hidden="true"></span>
                                <a class="call-style-w3" href="tel:+1(23) 456 789 0000">+1(23) 456 789 0000</a>
                            </li>
                            <li class="green">Or</li>
                            <li><a href="contact.html" class="btn btn-style">Get in touch</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //call section -->

    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-6 col-12 footer-list-29">
                        <h2>
                            <a class="footer-logo" href="index.html">
                                Happy Events</a>
                        </h2>
                        <p class="sub-list-text mt-4 pt-lg-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                            Suspendisse a pellentesque
                            dui, non
                            felis. Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">SUPPORT</h6>
                        <ul>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms"> Terms of Service</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-contact-list mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <ul>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-map-marker mr-2"
                                    aria-hidden="true"></i>10001, 5th Avenue, USA</li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-phone mr-2"
                                    aria-hidden="true"></i><a href="tel:+12 23456790">+12
                                    23456790</a></li>
                            <li class="d-flex align-items-center py-2"><i class="fa fa-envelope mr-2"
                                    aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© 2021 Happy Events. All rights reserved.</p>
                <div class="col-lg-4 text-right">
                    <div class="main-social-footer-29">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //copyright -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- slider-js -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <script src="assets/js/jquery.zoomslider.min.js"></script>
    <!-- //slider-js -->

    <!-- owl carousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <!-- //script for tesimonials carousel slider -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the
            // class of outer div
            // The second paramter is the speed between each letter is typed.
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>