<!-- family site-->
<div class="site_family" style="padding-top: 6rem !important">
  <div class="waviy text-center mb-md-5 mb-4">
    <span style="--i: 1">F</span>
    <span style="--i: 2">a</span>
    <span style="--i: 3">m</span>
    <span style="--i: 4">i</span>
    <span style="--i: 5">l</span>
    <span style="--i: 6">y</span>
    <span style="--i: 7"></span>
    <span style="--i: 8"></span>
    <span style="--i: 1">S</span>
    <span style="--i: 2">i</span>
    <span style="--i: 3">t</span>
    <span style="--i: 4">e</span>
  </div>

  <div class="site_list j_site_sort slick-initialized slick-slider">
    <button
      class="slick-prev slick-arrow slick-disabled"
      aria-label="Previous"
      type="button"
      aria-disabled="true"
      style="display: block; border: 0"
    >
      Previous
    </button>
    <div class="slick-list draggable">
      <div
        class="slick-track"
        style="opacity: 1; width: 1690px; transform: translate3d(0px, 0px, 0px)"
      >
        <div
          class="slick-slide2 slick-current slick-active"
          data-slick-index="0"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://ktrobot.co.kr/w/main.asp"
                title="새창열림"
                target="_blank"
                class="icon17"
                tabindex="0"
                >AI Robot</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="1"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://www.kt-aicc.com/user/index"
                title="새창열림"
                target="_blank"
                class="icon18"
                tabindex="0"
                >AICC</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="2"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://bizcomm.kt.com/"
                title="새창열림"
                target="_blank"
                class="icon03"
                tabindex="0"
                >기업모바일</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="3"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://www.ktvpn.com/"
                title="새창열림"
                target="_blank"
                class="icon05"
                tabindex="0"
                >VPN</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="4"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://www.xroshot.com"
                title="새창열림"
                target="_blank"
                class="icon06"
                tabindex="0"
                >KT 스마트메시지<br />WEB/POP/PRO<br />/API/biz</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="5"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://say.olleh.com/"
                title="새창열림"
                target="_blank"
                class="icon07"
                tabindex="0"
                >KT 스마트메시지 Plus</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="6"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://www.bizmeka.com/"
                title="새창열림"
                target="_blank"
                class="icon08"
                tabindex="0"
                >Bizmeka EZ</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2 slick-active"
          data-slick-index="7"
          aria-hidden="false"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://gw.bizmeka.com/"
                title="새창열림"
                target="_blank"
                class="icon10"
                tabindex="0"
                >그룹웨어</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2"
          data-slick-index="8"
          aria-hidden="true"
          tabindex="-1"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://call.bizmeka.com/"
                title="새창열림"
                target="_blank"
                class="icon11"
                tabindex="-1"
                >콜매니저</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2"
          data-slick-index="9"
          aria-hidden="true"
          tabindex="-1"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://bips.bizmeka.com/main.html"
                title="새창열림"
                target="_blank"
                class="icon12"
                tabindex="-1"
                >사회보험</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2"
          data-slick-index="10"
          aria-hidden="true"
          tabindex="-1"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://biz.securegate.kt.com/consulting.do"
                title="새창열림"
                target="_blank"
                class="icon14"
                tabindex="-1"
                >정보보안</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2"
          data-slick-index="11"
          aria-hidden="true"
          tabindex="-1"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://gigaenergy.kt.com/"
                title="새창열림"
                target="_blank"
                class="icon15"
                tabindex="-1"
                >기가에너지</a
              >
            </div>
          </div>
        </div>
        <div
          class="slick-slide2"
          data-slick-index="12"
          aria-hidden="true"
          tabindex="-1"
          style="width: 130px"
        >
          <div>
            <div style="width: 100%; display: inline-block">
              <a
                href="https://smartfactory.kt.co.kr/fmportal/#/home"
                title="새창열림"
                target="_blank"
                class="icon16"
                tabindex="-1"
                >스마트팩토리</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="slick-next slick-arrow"
      aria-label="Next"
      type="button"
      style="display: block; border: 0"
      aria-disabled="false"
    >
      Next
    </button>
  </div>
</div>
<!-- family site-->
<!-- footer -->
<section class="w3l-footer-29-main">
  <div
    class="footer-29 py-5"
    style="background-color: #031b4b; margin-top: 100px"
  >
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class="col-lg-6 col-12 footer-list-29">
          <h2>
            <img src="../images/kt_enterprise_logo.png" width="250px" />
          </h2>
          <p
            class="sub-list-text mt-4 pt-lg-2"
            style="font-size: 12px; color: white; line-height:28px;"
          >
            (주)케이티 대표이사 구현모 경기도 성남시 분당구 불정로 90
            (정자동)<br />
            사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br />
            기업 상담전화 : 1588-0114(유료), 유선전화(국번없이) 100,
            휴대폰(지역번호)+100
          </p>
        </div>
        <div
          class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2"
        ></div>
        <div
          class="col-lg-3 col-sm-6 footer-list-29 mt-lg-0 mt-sm-5 mt-4 pt-sm-0 pt-2"
        >
          <h6 class="footer-title-29" style="padding-top: 20px">SUPPORT</h6>
          <ul>
            <li>
              <a
                style="font-size: 15px"
                href="https://corp.kt.com/html/etc/agreement_01.html"
                >이용약관</a
              >
            </li>
            <li>
              <a
                style="font-size: 15px"
                href="https://corp.kt.com/html/etc/agreement_04.html"
                >기업상품약관</a
              >
            </li>
            <li>
              <a
                style="font-size: 15px"
                href="https://corp.kt.com/html/etc/legal.html"
                >법적고지</a
              >
            </li>
            <li>
              <a
                style="font-size: 15px"
                href="https://corp.kt.com/html/etc/privacy.html"
                >개인정보처리방침</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //footer -->

<!-- copyright -->
<section class="w3l-copyright">
  <div class="container">
    <div class="row bottom-copies">
      <p class="col-lg-8 copy-footer-29" style="font-size: 12px">
        Copyrightⓒ 2022 kt corp. All rights reserved.
      </p>
      <div class="col-lg-4 text-right">
        <div class="main-social-footer-29">
          <a
            href="https://blog.naver.com/ktenterprise"
            target="_blank"
            title="KT Enterprise 블로그 새창열림"
            ><img src="../images/ico_sns_b.png" alt="blog"
          /></a>
          <a
            href="https://www.facebook.com/kt.corp"
            target="_blank"
            title="KT 페이스북 새창열림"
            ><img src="../images/ico_sns_f.png" alt="facebook"
          /></a>
          <a
            href="https://twitter.com/kt_corp"
            target="_blank"
            title="KT 트위터 새창열림"
            ><img src="../images/ico_sns_t.png" alt="twitter"
          /></a>
          <a
            href="https://youtube.com/c/KTBiz"
            target="_blank"
            title="KT 유튜브 새창열림"
            ><img src="../images/ico_sns_y.png" alt="youtube"
          /></a>
          <a
            href="https://post.naver.com/my.nhn?memberNo=30305360"
            target="_blank"
            title="KT 네이버 포스트 새창열림"
            ><img src="../images/ico_sns_p.png" alt="post"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //copyright -->
