{{> header }}

<!-- banner section -->
<div class="slick-sample main_visual_top">
    <div class="visual1 bg13">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual11s3.png"
                  alt="세이프넷 배너 이미지"
                  class="kt_mb"
                />-->
                <div class="imgDescription"></div>
            </div>
            <div class="inner">
                <span class="sub_tit">SafeNet</span>
                <p class="main_vs_txt">
                    별도의 장비 구축 및 고비용 투자 없이 <br class="only_pc"/>기업용
                    악성사이트 차단서비스를 제공합니다.
                </p>
                <ul class="vs_txt_list">
                    <li>
                        실시간으로 악성사이트(피싱, 파밍, 정보유출, 악성코드, 랜섬웨어
                        배포사이트) 차단
                    </li>
                    <li>
                        매월 정기 보안 레포트를 통해 보안 현황 및 실시간 예방조치 안내
                    </li>
                    <li>Premium PC백신 1copy 함께 제공(랜섬웨어 복구 서비스 포함)</li>
                </ul>
                <div class="btn left" style="margin-top: 25px">
                    <a href="pd/P_PD_SS_IS_001.do.html" class="btn_link_border"
                    >자세히 보기</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- 기업전용5G -->
    <div class="visual1 bg16">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual116.png"
                  alt="기업전용 5G 속도 선택 부가 서비스 이미지"
                  class="kt_mb"
                />-->
                <div class="imgDescription"></div>
            </div>
            <div class="inner">
                <span class="sub_tit">기업전용5G 속도 선택 부가서비스</span>
                <p class="main_vs_txt">
                    기업고객 전용의<br/>5G 데이터 무제한 요금제
                </p>
                <ul class="vs_txt_list">
                    <li>
                        일반 대리점 가입 불가! 법인 및 임직원을 위한 특별한 요금제
                    </li>
                    <li>5G 데이터 무제한(10/20M bps 속도선택), 음성/문자 무제한</li>
                    <li>기업이 가입하는 베이스 회선요금 최저 0원!</li>
                </ul>
                <div class="btn left" style="margin-top: 25px">
                    <a href="pd/P_PD_MB_BF_001.do.html" class="btn_link_border"
                    >자세히 보기</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="visual1 bg19">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual119.png"
                  alt="FlexLine 배너 이미지"
                  class="kt_mb"
                />-->
                <div class="imgDescription"></div>
            </div>
            <div class="inner">
                <span class="sub_tit">FlexLine</span>
                <p class="main_vs_txt">
                    최적의 네트워크 구성이 가능한 SD-WAN솔루션 FlexLine 서비스를
                    소개합니다.
                </p>
                <ul class="vs_txt_list">
                    <li>최적의 네트워크 구성이 가능한 SD-WAN 솔루션</li>
                    <li>고객선택을 기반으로 유연한 회선 대역폭 변경</li>
                    <li>온라인 포탈을 통한 편리한 서비스 변경/확인</li>
                </ul>
                <div class="btn left" style="margin-top: 25px;">
                    <a href="pd/P_PD_NW_CI_004.do.html" class="btn_link_border"
                    >자세히 보기</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- AI 방역로봇 -->
    <div class="visual1 bg11">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual111.png"
                  alt="AI 방역로봇 이미지"
                  class="kt_mb"
                />-->
                <div class="imgDescription"></div>
            </div>
            <div class="inner">
                <span class="sub_tit">AI 방역로봇</span>
                <p class="main_vs_txt">
                    KT의 AI로봇 기술로 제시하는<br/>방역 패러다임
                </p>
                <ul class="vs_txt_list">
                    <li>세균, 바이러스, 미세먼지, 유해가스를 깨끗하게 제거</li>
                    <li>원격으로 자동 방역 스케줄링</li>
                    <li>AI자율주행 기술로 놓치는 구역없이 꼼꼼하게 제거</li>
                </ul>
                <div class="btn left" style="margin-top: 25px">
                    <a href="pd/P_PD_AI_RB_005.do.html" class="btn_link_border"
                    >자세히 보기</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- AI Contact Center -->
    <div class="visual1 bg3">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual102_q50.png"
                  alt=""
                  class="kt_mb"
                />-->
            </div>
            <div class="inner">
                <span class="sub_tit">AI Contact Center</span>
                <p class="main_vs_txt">
                    고객 맞춤형 AI 콜센터
                    <br class="pc_none"/>솔루션을 제공해 신속&middot;유연한
                    <br class="pc_none"/>고객응대 환경을 지원합니다.
                </p>
                <ul class="vs_txt_list">
                    <li>기업 니즈에 따른 맞춤 서비스</li>
                    <li>검증된 AI 기술과 솔루션 제공</li>
                    <li>다양한 AICC 솔루션의 신속한 공급</li>
                </ul>
                <div class="btn left" style="margin-top: 25px">
                    <a href="pd/P_PD_AI_CC_001.do.html" class="btn_link_border"
                    >자세히 보기</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- 법인폰 -->
    <div class="visual1 bg8">
        <div class="inner_wrap">
            <div class="img">
                <!--
                <img
                  src="resource/images/main/m_main_visual108.png"
                  alt=""
                  class="kt_mb"
                />-->
            </div>
            <div class="inner">
                <span class="sub_tit">법인폰 | KT Enterprise 공식 모바일샵</span>
                <p class="main_vs_txt">법인폰 전문 컨설팅을 비대면으로!</p>
                <ul class="vs_txt_list">
                    <li>법인폰/패드 전문 모바일샵</li>
                    <li>고객 맞춤 솔루션 및 요금 컨설팅</li>
                    <li>법인폰 타사 도입 사례 및 FAQ 제공</li>
                    <li>카카오톡/유선 및 홈페이지를 통한 다양한 상담 채널 제공</li>
                </ul>
                <div class="btn left" style="margin-top: 25px">
                    <a
                            href="pd/P_PD_MB_BP_001.do.html"
                            class="btn_link_border"
                            tabindex="0"
                    >자세히 보기</a
                    >
                    <a
                            href="http://pf.kakao.com/_xgyuxfs"
                            target="_blank"
                            class="btn_link_border"
                            tabindex="0"
                    >카톡상담신청</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>


<!-- blog section -->
<div class="blog-section py-5">
    <div class="container py-md-5 py-4">
        <div class="waviy text-center mb-md-5 mb-4">
            <span style="--i:1">P</span>
            <span style="--i:2">r</span>
            <span style="--i:3">o</span>
            <span style="--i:4">d</span>
            <span style="--i:5">u</span>
            <span style="--i:6">c</span>
            <span style="--i:7">t</span>
            <span style="--i:8">s</span>
        </div>

        <div class="anchor_tab_wrap mb-md-5">
            <div class="ui_spyscroll_holder" style="height: 70px; display: none"></div>
            <div class="anchor_tab ui_tabNavi tab_wrap size_3">
                <ul>
                    <li class="ui_tab_nav tabs on" value="1">
                        <a href="#anchor1" class="tab_link">대기업</a>
                    </li>
                    <li class="ui_tab_nav tabs" value="2">
                        <a href="#anchor2" class="tab_link">중소기업</a>
                    </li>
                    <li class="ui_tab_nav tabs" value="3">
                        <a href="#anchor3" class="tab_link">소상공인</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row" id="crow" style="margin-bottom: 50px;">
            <div style="margin: 0 auto 30px;">
                        <span class="label-blue-on label-blue category-tabs" style="margin: 3px" id="category-all-tab"

                        >전체</span>
                {{#serviceTypeList}}
                    <span class="label-blue category-tabs" style="margin: 3px;" data-category-id="{{id}}"
                          id="{{id}}">{{name}}</span>
                {{/serviceTypeList}}
            </div>
        </div>
        <button id="load-more">더보기</button>
    </div>
</div>


<!-- //blog section -->


<!-- bg with text section -->
<section class="w3l-covers-14 position-relative">
    <div class="covers14-block py-5">
        <div class="container py-md-5 py-4">
            <div class="covers14-text text-center mx-auto py-lg-5" style="max-width:950px">
                <h4>비즈니스 솔루션 문의 및 상품 문의에 이르기까지 KT가 도와드립니다.</h4>
                <p class="mt-3 sub-title">(기업 상담) 1588-0114</p>
                <a href="about.html" class="btn btn-style mt-5 askbtn">1:1 온라인 문의</a>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- //bg with text section -->
<!-- 플로팅버튼 -->
<div class="floating_btn">
  <!-- 2020-12-29 s 수정 title제거 -->
  <ul>
    <li>
      <a
        href="javascript:void(0)"
        onclick="floating_pop_open('product')"
        tabindex=""
        ><span>상품 전체보기</span></a
      >
    </li>
    <!-- <li><a href="javascript:window.open('https://ibot.kt.com/client/pc-web/chat.html', 'windowPop', 'width=420, height=600, left=200, top=200, resizable = yes')" title="새창열림" tabindex="0"><span>챗봇</span></a></li> -->
    <li>
      <a
        href="javascript:fn_newsLetterPopup()"
        title="새창열림"
        id="btnFloatinbNewsLetter"
        tabindex="0"
        ><span>뉴스레터 신청</span></a
      >
    </li>
    <li class="consulting">
      <a
        href="javascript:void(0)"
        onclick="floating_pop_open('consulting')"
        tabindex="0"
        ><span>컨설팅 신청</span></a
      >
    </li>
    <li>
      <a
        href="cs/P_CS_SI_RE_001.do.html"
        target=""
        title="페이지이동"
        id=""
        tabindex="0"
        ><span>브로슈어/신청서 다운로드</span></a
      >
    </li>
  </ul>
  <!-- 2020-12-29 e 수정 -->
  <button type="button" class="btn_float_more">닫힘</button>
  <button type="button" class="top">최상단으로</button>
</div>
{{> footer}}



<div id="card-target" style="display: none">
    <div class="col-lg-4 col-md-6 item">
        <div class="card">
            <div class="card-header p-0 position-relative">
                <a href="/product" data-role="cat1">
                    <img src="" class="card-img-bottom d-block radius-image-full" data-role="cat2"
                         alt="Card image cap"/>
                </a>
            </div>

            <div class="card-body blog-details">
                <a href="/product" class="blog-desc" data-role="cat3"></a>
                <br>
                <div class="align-items-center mt-3 mb-1">
                    <ul class="blog-meta" id="hashtag-content">

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="hashtag-target" style="display: none">
            <span class="label-blue" style="margin: 3px;" onclick="location.href='/category'"
                  data-role="cat5"></span>
</div>


<!-- Js scripts -->
<!-- move top -->
<!--
<button onclick="topFunction()" id="movetop" title="Go to top" style="position: fixed;
bottom: 85px !important;
right: 50px !important;
z-index: 93 !important;
display: block;
border-radius: 50px !important;
width: 50px;
height: 50px;">
    <span class="fa fa-level-up" aria-hidden="true"></span>
</button>-->
</div>
</body>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>
<!-- main js -->


<!-- common jquery plugin -->
<!-- owl carousel -->

<!--내비게이션바 main.js 파일 경로-->
<script src="/js/common.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script src="/js/slick.js"></script>
<script type="text/javascript">$ = jq = jQuery.noConflict();</script>
<script src="/js/img_data.js"></script>
<script src="/js/iscroll.js" id="pageNavigationIscroll"></script>
<script src="/js/pageNavigation.js" id="pageNavigationJs"></script>
<script src="/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->


<!-- counter for stats -->
<script src="js/counter.js"></script>
<!-- //counter for stats -->
<!-- theme switch js (light and dark)-->
<!--<script src="js/theme-change.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- ✅ load Slick ✅ -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>

<script>
    const $jq = jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $(".slick-sample").slick({
            dots: true,
            centerMode: true,
        });
    });
</script>

<script>
    function autoType(elementClass, typingSpeed) {
        var thhis = $(elementClass);
        thhis.css({
            position: "relative",
            display: "inline-block",
        });
        thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
        thhis = thhis.find(".text-js");
        var text = thhis.text().trim().split('');
        var amntOfChars = text.length;
        var newString = "";
        thhis.text("|");
        setTimeout(function () {

            thhis.css("opacity", 1);
            thhis.prev().removeAttr("style");
            thhis.text("");
            for (var i = 0; i < amntOfChars; i++) {
                (function (i, char) {
                    setTimeout(function () {
                        newString += char;
                        thhis.text(newString);
                    }, i * typingSpeed);
                })(i + 1, text[i]);
            }
        }, 1500);
    }

    $(document).ready(function () {
        // Now to start autoTyping just call the autoType function with the
        // class of outer div
        // The second paramter is the speed between each letter is typed.
        autoType(".type-js", 200);

    });
</script>
<!-- //theme switch js (light and dark)-->
<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });
    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->
<!--bootstrap-->
<script src="js/bootstrap.min.js"></script>
<!-- //bootstrap-->

<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<!-- //Js scripts -->
<!-- ajaxs -->
<script>
    const array = [];
    let pointer = 1;
    var template = $('#card-target');
    var htemplate = $('#hashtag-target');
    let categoryId = $('.label-blue-on').data('categoryId');
    let entSize = $(".ui_tab_nav").filter('.on').val();
    console.log(entSize);
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/api/v1/index',
            data:{
                servId: categoryId,
                entSize: entSize
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
        }).done(function (res) {
            var html = '';

            res.forEach((item) => {
                array.push(item);
            });
            pointer = 1;
            for (let i = 0; i < res.length; i++) {
                if (i == 6) break;
                let item = res[i];
                $(template).find('[data-role=cat1]').attr("href", "/detail");
                $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                $(template).find('[data-role=cat3]').attr("href", "/detail");
                $(template).find('[data-role=cat3]').text(item.name);
                let hashTagList = item.hashTagList.slice(0, 6);
                let tagHtml = '';
                hashTagList.forEach(function (tag) {
                    $(htemplate).find('[data-role=cat5]').text(tag);
                    tagHtml += $(htemplate).html();
                })
                $(template).find('#hashtag-content').html(tagHtml);
                html += $(template).html();
            }
            $('#crow').find('.item').remove();
            $('#crow').append(html);
        }).fail(function (error) {
            alert(JSON.stringify(error));
        })
    })


    $(document).ready(findProductWithServIdAndEntSize())
    $('.ui_tab_nav').on('click', function () {
        var navTabs = $(".ui_tab_nav");
        for (const navTab of navTabs) {
            navTab.classList.remove('on');
        }
        this.classList.add('on');
        findProductWithServIdAndEntSize()
    });

    $('.category-tabs').on('click', function () {

        var tabs = $(".category-tabs");
        for (const tab of tabs) {
            tab.classList.remove('label-blue-on')
        }
        this.classList.add('label-blue-on');
        findProductWithServIdAndEntSize();
    });

    function findProductWithServIdAndEntSize() {
        const array = [];
        let pointer = 1;
        let loadMoreBtn = document.querySelector('#load-more');
        loadMoreBtn.addEventListener('click', () => {
            let period = (pointer) * 6;
            const newArray = array.slice(0, period + 6);
            let html = '';
            newArray.forEach((item) => {
                console.log(item)
                $(template).find('[data-role=cat1]').attr("href", "/detail");
                $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                $(template).find('[data-role=cat3]').attr("href", "/detail");
                $(template).find('[data-role=cat3]').text(item.name);
                $(template).find('[data-role=cat4]').text(item.description);
                let hashTagList = item.hashTagList.slice(0, 6);
                let tagHtml = '';
                hashTagList.forEach(function (tag) {
                    console.log(tag)
                    $(htemplate).find('[data-role=cat5]').text(tag);
                    tagHtml += $(htemplate).html();
                })
                $(template).find('#hashtag-content').html(tagHtml);
                html += $(template).html();
            })
            $('#crow').find('.item').remove();
            $('#crow').append(html);
            pointer++;
        });
        let categoryId = $('.label-blue-on').data('categoryId');
        let entSize = $(".ui_tab_nav").filter('.on').val();

        $.ajax({
            type: 'GET',
            url: '/api/v1/index',
            data: {
                servId: categoryId,
                entSize: entSize
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        }).done(function (res) {
            var html = '';
            res.forEach((item) => {
                array.push(item);
            });
            pointer = 1;
            for (let i = 0; i < res.length; i++) {
                if (i == 6) break;
                let item = array[i];
                console.log("this is item!!!" + JSON.stringify(item));
                $(template).find('[data-role=cat1]').attr("href", "/detail");
                $(template).find('[data-role=cat2]').attr("src", "/images/pd/" + item.img + '.png');
                $(template).find('[data-role=cat3]').attr("href", "/detail");
                $(template).find('[data-role=cat3]').text(item.name);
                $(template).find('[data-role=cat4]').text(item.description);
                let hashTagList = item.hashTagList.slice(0, 6);
                let tagHtml = '';
                hashTagList.forEach(function (tag) {
                    $(htemplate).find('[data-role=cat5]').text(tag);
                    tagHtml += $(htemplate).html();
                })
                $(template).find('#hashtag-content').html(tagHtml);
                html += $(template).html();
            }
            $('#crow').find('.item').remove();
            $('#crow').append(html);
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }
</script>
</html>
